
*{
    box-sizing: border-box;
}

body {
    background-color: #fcebb6;
    color: #221811;
}

 #icon{
    float: left;
    height: 45px; 
    clear: left;
} 

.nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: #221811;
    color: #fcebb6;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
}

h3 {
    font-weight: 600;
}


 .main-content img {
    width: 100%;
    clear: both;
} 

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 10%;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: block;
}

footer, h1 {
    background-color: #d2b48c;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
}

.details {
    padding-right: 20%;
}

.musikimg{
    padding-left: 20%;
    padding-right: 10px;
    width: 10%;
    height: 10%;
}

#img-mug {
    float: right;
    clear: right;
}

#address {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Question 7 */
footer {
    border-color: #221811;
    margin-top: 70px;
    padding-bottom: 10px;
    border-top: solid 2px ;
}

.footer-a{
    font-size: 5px;
}
