
*{
    box-sizing: border-box;
}

body {
    /* background-color: #fcebb6; */
    color: #221811;
}

#head-title {
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin-left: 132px;
}

.main-content {
    background-color:  #FEF6C2;
    margin-left: 132px;
}

.main-text {
    margin-top: 60px;

}

.nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 168px;
    float: left;
    background-color: #221811;
    color: #FEF6C2;
}

#navside{
    margin-left: 130px;
}

.nav a:hover {
    color: #CC9933;
}

.nav a:link {
    color: #FEF6C2;
}

.nav a:visited {
    color: #D2B48C;
}

#heroroad {
    background-size: 100%;
    width: 100%;
    height: 250px;
}
#heroguitar{
    background-size: 100%;
    width: 100%;
    height: 250px;
}

#heromugs{
    background-size: 100%;
    width: 100%;
    height: 250px;
}
main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-left: 200px;
    display: block;
}
.body-content{
    margin-top: 0px;
}

footer, #head-title {
    background-color: #d2b48c;
    text-align: center;
    margin-right: 10%;
    margin-left: 20%;
}

h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
}

.details {
    padding-right: 20%;
}


#address {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Question 7 */
footer {
    border-color: #221811;
    margin-top: 70px;
    padding-bottom: 10px;
    border-top: solid 2px ;
}

.footer-a{
    font-size: 5px;
}
